footer {
    background-color: gray;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .footerText {
        display: flex;
        align-items: center;
    }
}
